li{
        display: inline-block;
        /*font-size: small;*/
        padding:80px;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        /*height: 1.8em;*/       
}
h1{
    font-family:Microsoft JhengHei;
    font-size:40px;
}
p{
    font-family:Microsoft JhengHei;
    position: relative;
    top:-10px;
}
figcaption{
    /*color:white;*/
    width:230px;
    height:40px;
    position:absolute;
    top:440px;
    left:100px;
}
.chimga{
    margin:10px;
    width:100%;
    height:100%;
    position: relative;
    left:10px;
    box-sizing:border-box;
    overflow:hidden;
    display:block;
}
.chimga:hover img{
    border-color:red;
    /*-moz-transform:scale(1.3) rotate(2deg);
    -webkit-transform:scale(1.3) rotate(2deg);
    -o-transform:scale(1.3) rotate(2deg);
    -ms-transform:scale(1.3) rotate(2deg);
    transform:scale(1.3) rotate(2deg);*/
}

.selected {
        /*background-color: #CFD8DC !important;*/
        background-color: #224466 !important;
        color: white;
    }
    .heroes {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        width: max-content;
    }
    .heroes li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
        
        width: 6em;
    }
    .heroes li.selected:hover {
        background-color: #BBD8DC !important;
        color: white;
    }
    .heroes li.bookable:hover {
        color: #607D8B;
        background-color: #DDD;
        left: .1em;
    }
    .heroes li.disable{
        background-color: #AA3333 !important;
        color: white;
        pointer-events: none;
    }
    .heroes li.sold{
        background-color: #DD6666 !important;
        color: white;
        pointer-events: none;
    }
    .heroes .text {
        position: relative;
        top: -3px;
    }
    .heroes .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #607D8B;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 1.8em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;

        width: 0.6em;
        text-align:center;
    }
.Home{
    position:absolute;
    top:26px;
    right:300px;
    font-size:40px;
    font-family:Microsoft JhengHei;
}
.Memory{
    position:absolute;
    top:26px;
    right:100px;
    font-size:40px;
    font-family:Microsoft JhengHei;
}    